header {
    transition: all ease 0.5s;
    background-color: transparent;
    z-index: 3;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLeft {
    height: 1.8em;
    display: flex;
    align-content: center;
    align-items:center;
}
.headerLeft a {
    height: 100%;
}
.logo {
    cursor: pointer;
    height: 100%;
    margin-left: 30px;
}
.headerRight {
    height: 1.8em;
    margin-right: 3em;
    display: flex;
}
.headerRightElement {
    cursor: pointer;
}
.headerRightElement svg {
    height: 100%;
    margin-left: 0.5em;
}
.headerRightElement img {
    height: 100%;
    margin-left: 1em;
}
.navigationMenu {
    display: none;
    cursor: pointer;
    margin-left: 30px;
}
.navigationItem {
    cursor: pointer;
    margin-left: 1em;
    display: inline-block;
}
.navigationItem:hover {
    color: #b3b3b3;
}
.showHeader {
    background-color: rgb(20, 20, 20);
}
.headerMenuOpen {
    background-color: #000;
}
.navigatonSubMenu {
    display: none;
    transition: all 0.5s linear;
    position: absolute;
    background-color:  rgba(0, 0, 0, 1);
    width: 15em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    top: 41px;
    left: -13em;
}
.navigatonSubMenu ul {
    padding: 0;
}
.navigatonSubMenuItem {
    transition: all ease 0.5s;
    color: #b3b3b3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.navigatonSubMenuItem:hover {
    background-color: rgba(60,60,60,.3)
}

@media screen and (max-width: 800px) {
    header {
        height: 41px;
        background-color: rgba(10,10,10,60%);
        transition: all ease 0s;
    }
    .showHeader {
        background-color: rgba(10,10,10,60%);
    }
    .navigationMenu {
        list-style-type: none;
        display: list-item;
    }
    .navigationItem {
        margin-left: 1em;
        display: none;
    }
    .navigatonSubMenu {
        display: block;
    }

}