@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

* {
    box-sizing: border-box;
}
body {
    background-color: #141414;
    color: #fff;
    margin: 0;
    font-family: 'Netflix Sans', sans-serif;
    font-size: 1.2vw;
    overflow-x: hidden;
}
.mainRows {
    margin-top: -5em;
}

.loading {
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
    .mainRows {
        margin-top: 4.5em;
    }
}
